body {
font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
margin: 0; padding: 0; background: #000 }
#app { font-family: Avenir, Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; color: #2c3e50; }
 #v-views { min-height: 80vh; }
#page { background: #0d0d0d; color: #CCC; height: 100%; margin: 0; padding: 0; width: 100%; }

#link-app-logo { max-width: 20em; }
#c-header {
    position: sticky;
    top: -7em;
    z-index: 99999;
    background: #0d0d0d;
}
#c-header #nav {
    align-items: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
#c-header #nav li {
    border-left: 1px solid #333;
    min-width: 7em;
    padding: 0;
    margin: 0;
}

#c-header #nav li:last-child {
    border-right: 1px solid #333;
    min-width: 7em;
}
#c-header #nav a {
    font-size: 1em;
    font-weight: bold;
    margin: 1px;
    padding: 4px 12px;
    letter-spacing: 1px;
}
#c-header #nav span {
    font-size: 1em;
    margin: 1px;
    padding: 4px 12px;
    text-transform: none;
}
#c-header #nav a:hover {background: #111;}
#c-header #nav a.router-link-active {
    background: none;

}
#app-brand {  }
#app-logo { width: 10em; height: auto; margin: 1em 0 0; }
.maxW1300 { max-width: 1200px; }
.maxW1200 { max-width: 1200px; }
.maxW800  { max-width: 1200px; }
.maxW960  { max-width: 960px; }
ul { list-style: none; padding: 0; }
pre { font-size: 12px; color: #666; padding: 1em;}
input, textarea, .select select {
    border: 2px solid #b1a537;
    color: #333;
}
button {background: #b1a537!important}
h1, h2, h3, h4, h5, h6 { line-height: 1.2; color: #fbfbfb; }
h3 {font-size: 1.2em; margin: 0; padding: 0.6em 0 0; }
a { color: #fff; }
.comp { padding: 1em; }

#v-home{ max-width: 800px; }
#v-home h3 { font-size: 1.2em; margin: 0; padding: 0.6em 0 0; line-height: 1.3; margin: 1em 0 2em; }

#c-login, #c-register {
    display: flex;
    max-width: 480px;
    background: #181818;
    align-content: flex-start;
    padding: 2em 3em 0;
    margin: 2em 0;
}
#c-register {
    max-height: 600px;
}
#c-login {
    max-height: 400px;
}
.auth-logo {
    background-image: url("../src/assets/logo-auth.jpg");
    height: 60px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 70%;
    margin: 20px auto;
}
.form-group {
    margin: 1em 0;
}

#c-footer { position: fixed; bottom: 0; background: #0d0d0d; width: 100vw; left: 0; padding: 4px 0; display: flex; justify-content: center; align-items: center; }
#c-footer p { display: flex; margin-block-start: 0; margin-block-end: 0; flex-direction: row; justify-content: center; align-items: center; align-content: center; }
#c-footer a { color: #fff; padding: 0 2px; }
@media (min-width: 37.5em) {
    #user-btns {
        position: absolute;
        top: 1em;
        right: 1em;
    }
}


@media (min-width: 56.25em) {
    #c-header #nav li { padding: 12px; margin: 0; }
    #c-footer { position: relative; }
    #c-footer p { display: block; }
}
@media (min-width: 75em) {

}
